/* .datetime-picker-inline {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
  }
   */

.appt-text {
  color: #4f200d;
}

.appt-container {
  background-color: #E5BA73;
  border-radius: 2.5%;
}

.appt-button {
  background-color: #4A403A;
  color: #FFF4E0;
}

.appt-background {
  background-color: #FFF2CC;
}

.custom-btn {
  border-radius: 10px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.custom-btn:hover {
  transform: scale(0.85);
}

.conf-container {
  background-color: #E5BA73;
}

.conf-header {
  color: #4f200d;
  background-color: #FFF2CC;
}

.conf-header-container {
  background-color: #4A403A;
}

.conf-background {
  background-color: #FFF2CC;
}

.conf-body {
  background-color: #E5BA73;
}

@media (max-width: 1284px) {
  .container.mobile {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .row.justify-content-center.m-3,
  .row.justify-content-center > div[class^="col-"].m-3 {
    margin: 0;
  }

  .col-md-6.col-lg-8 {
    padding: 0;
  }

  .appt-container {
    background-color: #e5ba73;
    border-radius: 2.5%;
    padding: 0;
  }
  
  .p-2.m-3.appt-container {
    margin: 0;
  }

  .m-3 {
    margin: 0;
  }
}