.acc-background {
    background-color: #fff2cc;
}

.card.acc-border {
    background-color: #e5ba73;
}

.acc-text {
    color: #4f200d;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 3%;
}

.acc-button {
    background-color: #4a403a;
    color: #fff4e0;
}

.custom-btn {
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.3s ease;
  }
  
  .custom-btn:hover {
    transform: scale(0.85);
  }
  