.acc-background {
    background-color: #fff2cc;
}

.acc-border {
    background-color: #e5ba73;
}

.acc-text {
    color: #4f200d;
}

.acc-button {
    background-color: #4a403a;
    color: #fff4e0;
}